/* Zerando as configurações padrões */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root{
  /* Cores principais */
  --red:#E3646E;
  --purple:#BB72E9;
  --blue:#3996DB;
  --green:#82BC4F;
  --yellow:#EABD5F;

  /* Cores bases */
  --gray-100:#E2E4E9;
  --gray-200:#C0C4CE;
  --gray-300:#878EA1;
  --gray-400:#292C34;
  --gray-500:#16181D;
  --gray-600:#0D0E11;

  /* fontes */
  --font-asap: 'Asap', sans-serif;
  --font-inconsolata: 'inconsolata', monospace;
  --font-maven: 'maven', sans-serif;

  /* uso em titulos */
  --title-lg: 700 56px/120% var(--font-asap);
  --title-md: 700 24px/120% var(--font-asap);
  --title-sm: 700 16px/120% var(--font-asap);

  /* subtítulos */
  --subtitle: 400 24px/120% var(--font-inconsolata);

  /* font text */
  --text-md: 300 16px/140% var(--font-maven);
  --text-sm: 300 14px/140% var(--font-maven);

}





