.hero {
  background-image: url(../assets/images/Background_Intro.png);
  background-size:cover ;
  background-position: center;

  min-height: 80vh;
  display: grid;
  /* alinha horizontal/vertical */
  place-items: center;

  
  margin-inline: auto;
}

.hero-content {
  /* limita a largura(tx largo/espalhado */
  max-width: 800px;
  padding:  0 24px;
  /* centraliza o bloco(margem automatica dos dois lados */
  margin-inline: auto;
  margin-top: 80px;
  
  
  /* organiza os elementos-tudo em coluna,centralizado,espaço ok */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* espaçamento consistente */
  gap: 48px;
  /* texto legível */
  text-align: center;
}

.avatar {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
  gap: 50px;
  
}

.borda{

  width: 80px;
  height: 80px;

  background-image: url(../assets/icons/Border_foto.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.icone img {
  position: absolute;
  width: 24px;
  right: 1px;
  bottom: 1px;
}
.nome{
  color: var(--red);
}

.text{
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 700px;
  
  
}

.hello{
  color: var(--gray-300);
  font: var(--subtitle);

}

p {
  color: var(--gray-300);
  font: var(--text-sm);
}

h1{
  color: var(--gray-100);
  font: var(--title-lg);
}

.stacks {
  font: var(--text-md);
  color: var(--gray-200);

  /* coloca lado a lado = */
  display: flex;
  /* garante horizonatlidade */
  flex-direction: row;
  /* alinha icone+texto verticalmente */
  align-items: center;
  /* espaços entre as imagens */
  gap: 16px;
  list-style:none;

}

.stacks-wrapper {
  background:none;
  /* espaço interno */
  padding: 0;
  
}

.stacks li {
  display:flex;
  align-items: center;
  gap: 6px;

  font-size: 14px;

  /* fazendo o wrapper nas stacks */
  background: var(--gray-400);
  padding: 8px;
  border-radius: 50px;
  
}

#projeto{
  background-color: var(--gray-500);
  min-height: 90vh;
  display: grid;
  /* alinha horizontal/vertical */
  place-items: center;

  
  /* padding-bottom : 72px; */
  /* margin-bottom: 144px; */
  
}

.card {
  background-color: var(--gray-400);
  border-radius: 12px;
  padding: 18px;

  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;

}

.card img{
  width:100%; 
  height: 156px;

  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.container-projeto{
  max-width: 1120px;
  margin: 0 auto; 

  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 32px;

  margin-bottom: 50px;
}

.container-projeto > header{
  grid-column: 1/ -1;
}

.container-projeto figcaption {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#servicos {
  background-color: var(--gray-600);
}

#servicos > header {
  padding: 88px 0 47px 0;
}

.card-servicos{
  display: flex;
  gap: 24px;
  justify-content: center;

  padding-bottom: 120px;
  
}

.card-servicos > div{
  width: 280px;
  /* height: 155px; */

  border: 1px solid var(--gray-500);
  border-radius: 12px;
  padding: 20px;

  /* display: flex; */
  flex-direction: column;
  gap: 12px;

  /* max-width: 300px; */
}






/* poderia usar reutilizável :
.profile-avatar

.profile-avatar__image

.profile-avatar__icon  

resolvendo a questao do paragrafo com 
max-width
line-height
margin

quando nao for usar o grid pode usar flex-direction: column

a lista de stacks pode ser com ul/li pois nao sao com links


CSS que todo hero quase sempre tem:

min-height: 100vh

background-image

background-size: cover

display: flex OU grid

place-items: center (se for grid)


espaço entre avatar e texto → gap

largura do texto → max-width

distância da borda da tela → padding



Sempre que for criar uma seção:

1️⃣ Existe fundo? → seção externa
2️⃣ Existe conteúdo organizado? → contêiner interno
3️⃣ Existe repetição? → lista (ul/li)
4️⃣ Existe alinhamento? → flex ou grid*/