.grid {
  display: grid;
}


.gap {
  gap:16px;
}

.subtitulo{
  color: var(--red);
  font: var(--subtitle);
  text-align: center;
  display: grid;
  margin-bottom: 8px;

}

.titulo1{
  color: var(--gray-100);
  font: var(--title-md);
  text-align: center;
  font-size: 29px;
  margin-bottom: 29px;
}

.centralizar {
  text-align: center;
  margin-bottom: 48px;
}

.title-card{
  font: var(--title-sm);
  color: var(--gray-100);
  margin-bottom: 8px;

  
}

.text-card {
  font: var(--text-sm);
  color: var(--gray-200);
  
}

.img-servicos{
  width: 48px;
  height: 48px;
  margin-bottom: 15px;
  
}

.img1{
  color: var(--purple);
}

.img2{
  text-decoration: var(--yellow);
}

.img3{
  color: var(--green);
}

.text-servicos{
  gap: 50px;
}

.grid-flow-col{
  grid-auto-flow:column;
}